<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Watch List</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="sync()">
        <ion-icon name="sync" [ngClass]="{'loading' : mal.updating}"></ion-icon> <!-- TODO animate while syncing -->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let anime of mal.animeList.anime" (click)="itemTapped($event, anime)">
      <ion-thumbnail item-start>
        <img src="{{anime.image_url}}">
      </ion-thumbnail>
      <h2>{{anime.title}}</h2>
      <p>{{anime.type}}, {{anime.total_episodes}} Episodes</p>
      <ion-icon item-end name="warning" color="warn" *ngIf="!anime.synced"></ion-icon>
    </button>
  </ion-list>
</ion-content>
