<ion-header>
  <ion-navbar>
    <ion-title>Sort and Filter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">Sort</ion-item-divider>
    <ion-item>
      <ion-label>Sort by</ion-label>
      <ion-select [(ngModel)]="filterSort.sortKey" interface="action-sheet">
        <ion-option *ngFor="let key of sortKeys" [value]="key">{{ malConstants.getAttributeName(key) }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Order</ion-label>
      <ion-select [(ngModel)]="filterSort.sortAscending" interface="action-sheet">
        <ion-option [value]="true">Ascending</ion-option>
        <ion-option [value]="false">Descending</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item-divider color="light">Filter</ion-item-divider>
    <ion-item>
      <ion-label>{{ malConstants.getAttributeName('title') }}</ion-label>
      <ion-input type="text" [(ngModel)]="filterSort.filterCrit.title"></ion-input>
    </ion-item>

    <ion-item *ngFor="let attr of ['total_episodes', 'score', 'rank', 'popularity']">
      <ion-label>{{ malConstants.getAttributeName(attr) }}</ion-label>
      <ion-range [min]="filterSort.filterCrit[attr].min" [max]="filterSort.filterCrit[attr].max" [step]="filterSort.filterCrit[attr].step" pin="true" dualKnobs="true" [(ngModel)]="filterSort.filterCrit[attr]"></ion-range>
    </ion-item>

    <ion-item *ngFor="let attr of ['type', 'source', 'premiered', 'status', 'studioName', 'genreName']">
      <ion-label>{{ malConstants.getAttributeName(attr) }}</ion-label>
      <ion-select [(ngModel)]="filterSort.filterCrit[attr]" interface="action-sheet">
        <ion-option *ngFor="let key of malConstants[attr]" [value]="key">{{ key }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding no-shadow>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col><button ion-button block (click)="apply()">Apply</button></ion-col>
        <ion-col><button ion-button block (click)="reset()" color="danger">Reset</button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
